$darker-gray: #333333;
$dark-gray: #666666;
$med-gray: #999999;
$bg-gray: #c0c0c0;
$contents-width: 50%;
$title-font-family: 'Rockin Record', Impact, 'Arial Narrow Bold', sans-serif;
$sans-font-family: Helvetica, Arial, sans-serif;

body {
	background: black;
}

@font-face {
	font-family: 'Rockin Record';
	src: url("#{$base-path}/fonts/gomarice_rockin_record.ttf");
	font-weight: normal;
}

.page-contents {
	width: $contents-width;
	margin: 0 auto;
	background: $dark-gray;
	border-radius: 1em;
	border: 1px solid $med-gray;
	border-bottom: 1px solid black;
}

header {
	text-align: center;
	display: inline-block;
	width: 100%;
}

.banner {
	height: 4em;
	display: inline-grid;
	grid-template-columns: auto 1fr;
	margin: 0.2em auto 0;
	color: white;
	filter: drop-shadow(2px 2px 0 black);
	font-family: $title-font-family;
}

.site-title {
	text-transform: uppercase;
}

.site-title, header p {
	margin: 0;
}

.logo {
	grid-row: span 2;
	vertical-align: middle;
	margin: 0 0.5em;
}

nav.tabbar {
	margin-top:0.5em;
	font-family: $sans-font-family;
}

nav.tabbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav.tabbar li {
	float: left;
	display: block;
	padding: 0.2em 0.8em;
	color: white;
	background: $med-gray;
	margin: 0 0;
	border: 1px solid white;
	border-right: 2px solid black;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}
header {
	border-bottom: 0.25em solid white;
}

nav.tabbar li.tab.tab-active {
	background: white;
}

nav.tabbar li a, nav.tabbar li a:visited {
	color: black;
	text-decoration: none;
}

main, .page-title {
	background: $bg-gray;
}

main {
	padding: 0.5em;
}

.page-title {
	margin: 0;
	text-align: center;
}

div.gray-bar-container {
	width: 100%;
	font-family: $sans-font-family;
}

div.gray-bar-container .gray-bar {
	background-color: $dark-gray;
	color: white;
	border-radius: 2em;
	padding: 0.2em 0.5em;
	font-size: 1.5em;
}

a {
	color: $dark-gray;
}
a:visited {
	color: $darker-gray;
}

main > *:first-child {
	margin-top: 0.5em;
}

.text-bold {
	font-weight: bold;
}

footer {
	color: white;
	text-align: center;
	font-family: $sans-font-family;
}

footer a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 0.25em;
	display: inline-block;
}

.games-list {
	padding: 0 0.5em;
}
.game-entry {
	display: grid;
	list-style: none;
	grid-template-columns: min-content 1fr;
	column-gap: 0.25em;
	grid-template-rows: 1fr;
}
.game-entry p {
	margin: auto 0;
}

section#gameplay-area {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
canvas.main-canvas {
	display: inline-block;
	margin: 0 auto;
	image-rendering: crisp-edges;
}

.grayscale {
	filter: grayscale(1);
}

nav.game-links {
	display: inline-grid;
	font-family: $sans-font-family;
	font-size: 12pt;
	a {
		text-decoration: none;
		display:block;
		height: 40px;
	}
	.link-icon {
		background-color: $dark-gray;
	}
	span {
		vertical-align: 50%;
	}
}

.links-horizontal {
	grid-template-rows: auto auto;
	grid-template-columns: 20px repeat(auto-fill, minmax(50px, 80px));

	row-gap: 0.5em;
	text-align: center;
	align-self: center;
	.left-cap, .right-cap {
		width: 20px;
		background-color: $dark-gray;
		height: 40px;
	}
	a.link-icon, .left-cap, .right-cap {
		grid-row: 1;
	}
	.link-text,.link-spacer {
		grid-row: 2;
		hyphens: auto;
		overflow-wrap: break-word;
	}
	.link-spacer {
		width: 20px;
	}
	.left-cap,.link-spacer {
		border-top-left-radius: 4em;
		border-bottom-left-radius: 4em;
		align-self: start;
	}
	.right-cap {
		border-top-right-radius: 4em;
		border-bottom-right-radius: 4em;
		align-self: end;
	}
}

.links-vertical {
	grid-template-columns: auto minmax(50px, 100px);
	grid-auto-rows: 40px;
	column-gap: 0.5em;
	align-items: center;
	padding-right: 1em;
	.link-icon, .top-cap {
		grid-column: 1;
	}
	.link-text {
		grid-column: 2;
		align-content: center;
	}
	.top-cap, .bottom-cap {
		height: 20px;
		background-color: $dark-gray;
	}
	.top-cap {
		border-top-left-radius: 4em;
		border-top-right-radius: 4em;
		align-self: end;
	}
	.bottom-cap {
		border-bottom-left-radius: 4em;
		border-bottom-right-radius: 4em;
		align-self: start;
	}
}

.game-info {
	display:flex;
}
.game-info.hlinks {
	flex-direction: column;
}
