@use './media-queries.scss';

$darker-gray: #333333;
$dark-gray: #666666;
$med-gray: #999999;
$bg-gray: #c0c0c0;
$contents-width: 50%;
$title-font-family: 'Rockin Record', Impact, 'Arial Narrow Bold', sans-serif;
$sans-font-family: Helvetica, Arial, sans-serif;

body {
	background: black;
}

@font-face {
	font-family: 'Rockin Record';
	src: url("#{$base-path}/fonts/gomarice_rockin_record.ttf");
	font-weight: normal;
}

.page-contents {
	width: $contents-width;
	margin: 0 auto;
	background: $dark-gray;
	border-radius: 1em;
	border: 1px solid $med-gray;
	border-bottom: 1px solid black;
}

header {
	text-align: center;
	display: inline-block;
	width: 100%;
}

.banner {
	height: 4em;
	display: inline-grid;
	grid-template-columns: auto 1fr;
	margin: 0.2em auto 0;
	color: white;
	filter: drop-shadow(2px 2px 0 black);
	font-family: $title-font-family;
}

.site-title {
	text-transform: uppercase;
}

.site-title, header p {
	margin: 0;
}

.logo {
	grid-row: span 2;
	vertical-align: middle;
	margin: 0 0.5em;
}

nav.tabbar {
	margin-top:0.5em;
	font-family: $sans-font-family;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		float: left;
		display: block;
		color: white;
		background: $med-gray;
		border: 1px solid white;
		border-right: 2px solid black;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;

		a, a:visited {
			color: black;
			text-decoration: none;
			padding: 0.5em 1em;
		}
	}

	li.tab.tab-active {
		background: white;
	}
}

header {
	border-bottom: 0.5em solid white;
}

main, .page-title {
	background: $bg-gray;
}

main {
	padding: 0.5em;
}

.page-title {
	margin: 0;
	text-align: center;
}

.gray-bar {
	background-color: $dark-gray;
	color: white;
	border-radius: 2em;
	padding: 0.2em 0.5em;
	font-size: 1.5em;
	font-family: $sans-font-family;
}

a {
	color: $dark-gray;
	&:visited {
		color: $darker-gray;
	}
}

main > *:first-child {
	margin-top: 0.5em;
}

.text-bold {
	font-weight: bold;
}

footer {
	color: white;
	text-align: center;
	font-family: $sans-font-family;

	a {
		color: white;
		text-decoration: none;
		font-weight: bold;
		padding: 0.25em;
		display: inline-block;
	}
}

.games-list {
	padding: 0 0.5em;
}

.game-entry {
	display: grid;
	list-style: none;
	grid-template-columns: min-content 1fr;
	column-gap: 0.25em;
	grid-template-rows: 1fr;
	p {
		margin: auto 0;
	}
}

section.gameplay-area {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas.main-canvas {
	display: inline-block;
	margin: 0 auto;
	image-rendering: crisp-edges;
}

.grayscale {
	filter: grayscale(1);
}

nav.game-links {
	display: inline-grid;
	font-family: $sans-font-family;
	font-size: 12pt;

	a {
		text-decoration: none;
		display:block;
		height: 40px;
	}
	.link-icon {
		background-color: $dark-gray;
		filter: drop-shadow(0.75px 1px 0 black);
	}
	span {
		vertical-align: 50%;
	}
}

.links-horizontal {
	grid-template-rows: auto auto;
	grid-template-columns: 20px repeat(auto-fill, minmax(50px, 80px));
	row-gap: 0.5em;
	text-align: center;
	align-self: center;

	.left-cap, .right-cap {
		width: 20px;
		background-color: $dark-gray;
		height: 40px;
	}
	a.link-icon, .left-cap, .right-cap {
		grid-row: 1;
	}
	.link-text,.link-spacer {
		grid-row: 2;
		hyphens: auto;
		overflow-wrap: break-word;
	}
	.link-spacer {
		width: 20px;
	}
	.left-cap, .link-spacer {
		border-top-left-radius: 4em;
		border-bottom-left-radius: 4em;
		align-self: start;
	}
	.right-cap {
		border-top-right-radius: 4em;
		border-bottom-right-radius: 4em;
		align-self: end;
	}
}

.links-vertical {
	grid-template-columns: auto minmax(50px, 100px);
	grid-auto-rows: 40px;
	column-gap: 0.5em;
	align-items: center;
	padding-right: 1em;

	.link-icon, .top-cap {
		grid-column: 1;
	}
	.link-text {
		grid-column: 2;
		align-content: center;
	}
	.top-cap, .bottom-cap {
		height: 20px;
		background-color: $dark-gray;
	}
	.top-cap {
		border-top-left-radius: 4em;
		border-top-right-radius: 4em;
		align-self: end;
	}
	.bottom-cap {
		border-bottom-left-radius: 4em;
		border-bottom-right-radius: 4em;
		align-self: start;
	}
}
.left-cap, .right-cap, .top-cap, .bottom-cap {
	filter: drop-shadow(0.75px 0.75px 0 black);
}

.game-info {
	display:flex;
}

.game-info.hlinks {
	flex-direction: column;
}

.original-game-info p:first-child::before {
	content: "Original description: ";
	font-style: italic;
}

.date-line, .original-page {
	text-align: center;
	font-size: 0.75em;
}