---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout activePage={"goals"} pageTitle="Goals">
	<p class="original-page">Original page: <a href="http://www.javaonthebrain.com/goals.html">http://www.javaonthebrain.com/goals.html</a></p>
	<section>
		<h2 class="gray-bar">For what purpose?</h2>
		<p>The Internet is constantly changing, and with it, the software used to create, build, and run games. This is all well and good (to an extent), but while some sites like the <a href="https://www.w3.org/History/19921103-hypertext/hypertext/WWW/TheProject.html">Internet's first website</a> still exist and work well enough, sites that depended on now deprecated technologies like Flash, Java, etc, fall by the wayside.</p>
	</section>
</BaseLayout>
