---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout activePage={"goals"} pageTitle="Goals">
	<section>
		<h2 class="gray-bar">Goals</h2>
		<p>The Internet is constantly changing, and with it, the software and standards used in creating, building, and running games. This is all well and good (to an extent), but while some sites like the <a href="https://www.w3.org/History/19921103-hypertext/hypertext/WWW/TheProject.html">Internet's first website</a> still exist and work well enough, sites that depended on now deprecated technologies like Flash, Java applets, etc, are no longer usable.</p>
		<p>Since Java on the Brain was an early inspiration for me when I was first learning to write code, I want to ensure that it remains accessible and functional for future learners and enjoyers of time wasting games. The original site also uses some HTML standards that while common at the time, are no longer used, making it less accessible from a phone. Since as of 2025, <a href="https://soax.com/research/mobile-website-traffic">more than half</a> of all web traffic is from mobile phones, my secondary goal is to make the games (somewhat) usable on phones, where possible.</p>
		<p>So ultimately, I want to strike a decent balance between preserving the appearance and experience of the original games and making them accessible on modern devices.</p>
	</section>
</BaseLayout>
