---
import BaseLayout from "../layouts/BaseLayout.astro";
import { prependBasePath } from "../scripts/util";
---

<BaseLayout activePage={"/"}>
	<section class="gameplay-area grayscale"></section>
	<script src={prependBasePath("/js/lightsnack.js")} is:inline></script>
	<h2 class="gray-bar">Welcome, noble netsurfer!</h2>
	<p>This site represents my attempt to recreate some of the Java applet games originally created by Karl H&ouml;rnell. Since common browser support for Java applets has been abandoned, the games on the site are unusable unless you are using a much much much older browser, like Netscape or pre-4.x versions of Firefox. Or Internet Explorer, god forbid.</p>
	<p>Instead of using Java, the games are rewritten and reimplemented using JavaScript, meaning some of them should be (somewhat) mobile compatible as well. See the <a href={prependBasePath("/goals")}>goals</a> page for more information.</p>
	<p>The content on this site is divided into six sections</p>
	<section class="brain">
		<div>
			<div><h3>Intro.</h3>This page, which outlines the contents of the site.</div>
			<img src={prependBasePath("/img/brain1.gif")}>
		</div>
		<div>
			<img src={prependBasePath("/img/brain4.gif")}>
			<div><h3>Discussion.</h3> Not technically on this site, but a link to the GitHub repository discussions page.</div>
		</div>
		<div>
			<div><h3>Games.</h3> My reimplementations of the original Java applets games, now written in JavaScript.</div>
			<img src={prependBasePath("/img/brain2.gif")}>
		</div>
		<div>
			<img src={prependBasePath("/img/brain5.gif")}>
			<div><h3>Issues.</h3> Also not technically on this site, but a link to the GitHub repository issues page.</div>
		</div>
		<div>
			<div><br><br><h3>Goals.</h3>
				A page outlining my goals and purpose in creating this site.
			</div>
			<img src={prependBasePath("/img/brain3.gif")}>
		</div>
		<div>
			<img src={prependBasePath("/img/brain6.gif")}>
			<div><h3>Links.</h3> Some links I think are relevant or may be useful.</div>
		</div>
	</section>
	<p>
		This site exists for the sole purpose of preserving and showcasing these games, as close to their original form as possible. If you have any questions, comments, or suggestions, please feel free to open an issue or discussion on the respective page.
	</p>
</BaseLayout>
