---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout activePage={"links"} pageTitle="Links">
	<p class="original-page">Original page: <a href="http://www.javaonthebrain.com/links.html" target="_blank">http://www.javaonthebrain.com/links.html</a></p>
	<section>
		<h2 class="gray-bar">Links</h2>
		<ul>
			<li><a href="http://www.javaonthebrain.com" target="_blank">Java on the Brain</a> &mdash; the original site that inspired this one</li>
			<li><a href="https://github.com/Eggbertx/JavaScriptOnTheBrain">JavaScript on the Brain @ GitHub</a> &mdash; the source code for this project</li>
			<li><a href="https://ruffle.rs" target="_blank">Ruffle</a> &mdash; a Flash Player emulator written in Rust, with a similar goal of preserving legacy content</li>
			<li><a href="https://developer.mozilla.org/" target="_blank">MDN Web Docs</a> &mdash; an invaluable reference for web developers</li>
			<li><a href="https://astro.build/" target="_blank">Astro</a> &mdash; the framework used to build this site from layouts and components</li>
		</ul>
	</section>
</BaseLayout>
