<div class="banner">
	<img src="/img/jotb-logo.png" alt="Java on the Brain Logo" class="logo">
	<h1 class="site-title">JavaScript on the Brain</h1>
	<p>JavaScript remakes of Karl Hornell's Applet Center</p>
</div>