---
const currentYear = new Date().getFullYear();
---
<footer>
	Copyright &copy; {currentYear} <a href="https://github.com/Eggbertx">Eggbertx</a>. Original content by <a href="http://www.javaonthebrain.com/">Karl H&ouml;rnell</a>. All rights reserved by their respective owners.
</footer>