---
import path from "path";

const basePath = import.meta.env.BASE_PATH ?? "/JavaScriptOnTheBrain/";
let activePage:string = Astro.props.activePage ?? basePath;
if(path.relative(basePath, activePage) === "..") {
	activePage = path.join(basePath, "/");
}


const links = [
	{ href: path.join(basePath, "/"), text: "Intro" },
	{ href: path.join(basePath, "/games.html"), text: "Games" },
	{ href: path.join(basePath, "/goals.html"), text: "Goals" },
	{ href: path.join(basePath, "/feedback.html"), text: "Feedback" },
	{ href: path.join(basePath, "/links.html"), text: "Links" },
];
---
<nav class="tabbar">
	<ul>
		{links.map(link => (
			<li class={(link.href === activePage) ? "tab tab-active" : "tab"}><a href={link.href} >{link.text}</a></li>
		))}
	</ul>
</nav>